*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    
}
h1{
    font-size: 70px;
    font-weight: 600;
    color: #db3604d8;
}
h2{
    font-size: 60px;
    font-weight: 600;
    color: #db3604d8;
}
p{
    font-size: 45px;
    font-weight: 400; 
}

.banner{
    background-image: url(donation.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 90%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-size: cover;
    margin: auto;
}
.btn{
    background-color: #FF5959;
    padding: 15px 30px;
    color: whitesmoke;
    font-size: 50px;
    font-weight: 600;
    border: none;
    border-radius: 5%;
}
.dnt-today{
    height: auto;
    width: 75%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.amount-group{
    display: flex;
}
.dnt-amount{
    
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 35px;
    padding: 25px 20px;
    

}
.dnt-amount:hover{
    background-color:antiquewhite;
}
.input-div{
    margin-top: 25px;
    margin-bottom: 25px;
}
.input-amount {
    outline: 0;
    border-width: 0 0 2px;
    border-color:#dadada;
    height: 55px; 
    width:100%; 
    text-align: center;
    font-size: 35px;
    
}
.donate-plan{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 35px;
    padding: 25px 20px;
    
    

}
.flex{
    
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 35px;
    padding: 25px 20px;
    display: flex;
    width: 90%;
    
       
}
.donate-plan-single{    
    padding: 30px;
}
.food{
    background-color: rgba(79, 157, 166, 0.1);
}
.shelter{
    background-color: rgba(255, 89, 89, 0.1);
    margin-left: 25px;
    margin-right: 25px;
}
.education{
    background-color:rgba(230, 211, 104, 0.555) ;
}
.need-survive{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80%;
}
.half-width{
    width: 50%;
    height: auto;
}
.survive-img img{

    width: 80%;
}
.survive-para{
    margin-top: 30px;
    margin-bottom: 30px;
}
.sub-section{
    text-align: center;
    margin: auto;
    width: 80%;

}

.subcribe{
    padding: 80px 20px;
    width: 50%;
    text-align: center;
    align-items: center;
    justify-items: center;
    margin: auto;
    background: #FFF4D6;
    
}
.subcribe-input{
    font-size: 45px;
    padding: 20px 18px;
    border: none;
}

footer{
    border: 1px solid black;
    text-align: center;
    background-color: rgb(70, 51, 51);
    padding: 40px;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: auto;

}
.space{
    margin-bottom: 150px;
}